<div class="h55"></div>
  <footer id="fd">
    <ul class="menu">
      <li class="on"><a href="/mobile"><span class="ico1"></span>首页</a></li>
      <li><a href="/mobile/category"><span class="ico2"></span>分类</a></li>
      <li><a href="/mobile/teacher"><span class="ico3"></span>名师</a></li>
      <li><a href="/mobile/course/207470"><span class="ico4"></span>视频</a></li>
      <li><a href="/mobile/aboutus"><span class="ico5"></span>我们</a></li>
    </ul>
  </footer>
</div>