  <aside id="asideLeft">
    <ul class="g-list1">
      <li><a href="">登录</a></li>
      <li><a href="">注册</a></li>
      <li><a href="">下载APP</a></li>
      <li><a href="">帮助中心</a></li>
    </ul>
  </aside>

  <aside id="asideRight">
    <ul class="g-list2">
      <li><a href="">
        <img src="{{ asset('assets/images/mobile/ico-r1.png') }}" alt="" class="ico">
        <span class="txt">58918 门课程<br>给你更强能力</span>
      </a></li>
      <li><a href="">
        <img src="{{ asset('assets/images/mobile/ico-r2.png') }}" alt="" class="ico">
        <span class="txt">18918 位名师<br>任你选择</span>
      </a></li>
      <li><a href="">
        <img src="{{ asset('assets/images/mobile/ico-r3.png') }}" alt="" class="ico">
        <span class="txt">892365 名学员<br>与你同学</span>
      </a></li>
    </ul>
  </aside>