
     {% extends 'AcmeWebUIBundle::layouts/loginregister.html.twig' %}

     {% block title %}注册{% endblock %}

{% block form %}
<form name="fos_user_registration_form" method="post" action="/register/" class="fos_user_registration_register">
   

		<div class="head">
			<h3>注册</h3>
		</div>
		<div class="cont">
			<div class="regBox">
			    <div id="fos_user_registration_form">
			    
					<div class="inp-box">请输入邮箱<input type="text" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" class="inp"></div>


					<div class="inp-box">用户名<input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="255" pattern=".{2,}"  class="inp"></div>

					<div class="inp-box">请输入密码<input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" class="inp"></div>

					<div class="inp-box">确认密码<input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" class="inp"></div>

					<input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="HECiFg1ekJso7j_gY7jl1UwGFgMwWLj7aV1ZFZp6R8g" />
			    </div>
		    </div>
        </div>


		<div class="foot">
			<input type="submit" value="确定" class="sbtn1 btn-blue">
			<input type="submit" value="取消" class="sbtn1">
		</div>



		</form>

{% endblock %}