        {% extends 'AcmeWebUIBundle::layouts/loginregister.html.twig' %}

        {% block title %}注册{% endblock %}
        
		{% block form %}
		<form name="fos_user_registration_form" method="post" action="/register/" class="fos_user_registration_register">
		<div class="head">
			<h3>注册</h3>
		</div>
		<div class="cont">
			<div class="regBox">
			     <label for="fos_user_registration_form_email" class="required">邮箱</label>
			    <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" class="inp">

			   <label for="fos_user_registration_form_username" class="required">用户名</label>
               <input type="password" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="255" pattern=".{2,}"class="inp"/>


				<label for="fos_user_registration_form_plainPassword_first" class="required">密码</label>
				<input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" class="inp">

				<label for="fos_user_registration_form_plainPassword_second" class="required">确认密码</label>
		    	<input type="text"type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" class="inp">

				<input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="Fr3mZyqefCdah6nfP2xQGlOEBC2tAePERYbKIdYFnUg" />
			</div>
		</div>
		<div class="foot">
			<input type="submit" value="确定" class="sbtn1 btn-blue">
			<input type="submit" value="取消" class="sbtn1">
		</div>
		</form>
		{% endblock %}
