<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}首页{% endblock %}</title>
    <meta name="keywords" content="学考通" />
    <meta name="description" content="学考通" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% block stylesheet %}
      <link rel="stylesheet" href="{{ asset( 'assets/css/pc/cui.css' ) }}" />
      <link rel="stylesheet" href="{{ asset( 'assets/css/pc/lib.css' ) }}" />
      <link rel="stylesheet" href="{{ asset( 'assets/css/pc/style.css' ) }}" />
    {% endblock %}
    {% block script %}
      <script type="text/javascript">
        var mobileAgent = new Array("iphone", "ipod", "ipad", "android", "mobile", "blackberry", "webos", "incognito", "webmate", "bada", "nokia", "lg", "ucweb", "skyfire");
        var browser = navigator.userAgent.toLowerCase(); 
        var isMobile = false; 
        for ( var i = 0; i < mobileAgent.length; i++ ) { 
          if ( browser.indexOf( mobileAgent[i] )!=-1) { isMobile = true; 
            //alert(mobileAgent[i]); 
            location.href = '/mobile';
            break; 
          } 
        } 
      </script>
    {% endblock %}
  </head>
  <body>
   {% block nav_top_bar %}
      {{ include('AcmeWebUIBundle::User/common/account_top_banner.html.twig') }}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    {% block javascript %}{% endblock %}
  </body>
</html>