<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="keywords" content="学考通" />
  <meta name="description" content="学考通" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="/assets/css/pc/cui.css" />
  <link rel="stylesheet" href="/assets/css/pc/lib.css" />
  <link rel="stylesheet" href="/assets/css/pc/style.css" />
  <style>
  body{min-width: 0;}
  </style>
</head>
<body>

  <div id="frameBox">
      
        {% block form %}
     
        {% endblock %}

  </div>

  <script type="text/javascript" src="/assets/js/pc/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/pc/lib.js"></script>

</body>
</html>