{% extends "AcmeWebUIBundle::layouts/accountbase.html.twig" %}

  {% block content %}

  {{ form_start(new_form) }}

      <div class="cont">
         <div class="new_form">

            <label for="new_form.photo" class="lab">图片名称</label>
            {{ form_widget(new_form.photo,{'attr': {'class': 'inp'}}) }}
                   
           </div>
       </div>  

                <input type="submit" value="添加" style="margin-left:280px;margin-top:30px;width:100px;height:30px;">

    {{ form_end(new_form) }}

 {% endblock %}