{% extends 'base.html.twig' %}

{% block body %}
    <p>
      Post
    </p>  
    <p>
      title: {{ post.title }}
    </p>
    <p>
      content: {{ post.content }}
    </p>
{% endblock %}
