
/*-----------------[初始化]--------------*/
body{color: #5f5f5f;font-size: 12px;line-height: 1.5;position: relative;
    font-family:"微软雅黑","Microsoft Yahei";background-color: #f4f4f4;
}
a{color: #5f5f5f;}
a:hover{color: #3a9fff;}
img{max-width: 100%;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}
input,textarea,select{font-size: 12px;color: #5f5f5f;border:0;
    font-family:"微软雅黑","Microsoft Yahei";outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
/* button, input, select, textarea {
    取消苹果手机方法效果
    font-size:16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} */
input[type='submit'],input[type='reset'],input[type='button'],select,button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type='submit'],input[type='reset'],input[type='button'],button{cursor: pointer;}
::-webkit-input-placeholder {color: #cecece;}
::-moz-placeholder {color: #cecece; }
::-ms-input-placeholder {color: #cecece;}

.ani{
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}

/*布局*/
.wp{width: 100%;max-width: 1180px;margin: 0 auto;}
.h50{height: 50px;clear: both;overflow: hidden;}
.h55{height: 55px;clear: both;overflow: hidden;}
.h100{height: 100px;clear: both;overflow: hidden;}


/*******************************
  -------[=头部]-------
********************************/
#hd{background-color: #3a9fff;height: 50px;line-height: 50px;position: relative;
    padding: 0 50px 0 55px;box-shadow: 0 1px 3px #999;
}
#hd h1{text-align: center;color: #fff;font-size: 18px;font-weight: normal;}
#hd.header2{background-color: #fafafa;border-bottom: 1px solid #ababab;box-shadow: none;}
#hd.header2 h1{color: #323232;}

#hd.header3{background: none;border-bottom: 0;box-shadow: none;
    position: absolute;left: 0;top: 0;z-index: 99;
}

#hd .left,#hd .right{position: absolute;top: 0;height: 100%;}
#hd .left{left: 0;}
#hd .right{right: 0;}
.navBtn,.a-mess,.g-soBtn,.a-back,.a-back2{width: 50px;height: 50px;display: block;position: relative;
    background: none;
    background-repeat: no-repeat;
    background-position: center center;
    -o-background-size: 25px auto;
    -ms-background-size: 25px auto;
    -moz-background-size: 25px auto;
    -webkit-background-size: 25px auto;
    background-size: 25px auto;
}
.navBtn{background-image: url(../../../../assets/images/mobile/menu.png);}
.a-mess{background-image: url(../../../../assets/images/mobile/mess.png);}
.a-mess i{position: absolute;right: 5px;top: 7px;width: 16px;height: 16px;
    text-align: center;line-height: 16px;color: #3a9fff;
    font-style: normal;font-size: 12px;font-family: 'Arial';
    background: url(../../../../assets/images/mobile/dot.png) no-repeat center center;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.g-soBtn{background-image: url(../../../../assets/images/mobile/i-sobtn.png);}
.a-back{background-image: url(../../../../assets/images/mobile/back2.png);}
.a-back2{background-image: url(../../../../assets/images/mobile/back.png);}

.soBox{height: 30px;padding-top: 10px;}
.soBox input{display: block;height: 30px;line-height: 30px \9;font-size: 15px;}
.soBox .so-inp{width: 100%;border-radius: 3px;overflow: hidden;padding-left: 30px;
    background: #fff url(../../../../assets/images/mobile/search-icon.png) no-repeat 8px center;
    -o-background-size: 15px auto;
    -ms-background-size: 15px auto;
    -moz-background-size: 15px auto;
    -webkit-background-size: 15px auto;
    background-size: 15px auto;
}
.soBox .so-btn{display: none;}


/*******************************
    -------[=侧栏导航]-------
********************************/
#asideLeft,#asideRight{position: fixed;width: 70%;height: 100%;
    background-color: #272636;z-index: 9999;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}
#asideLeft{left: -100%;}
.openLeft #asideLeft{left: 0;}
#asideRight{right: -100%;background-color: #2e2d3d;}
.openRight #asideRight{right: 0;}

#main{position: absolute;left: 0;top: 0;width: 100%;z-index: 1;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}
.openLeft #main{left: 70%;}
.openLeft #fd{left: 70%;}
.openRight #main{left: auto;right: 70%;}
.openRight #fd{left: auto;right: 70%;}

.g-list1{}
.g-list1 li{border-bottom: 1px solid #2b2a39;
    background: url(../../../../assets/images/mobile/a2.png) no-repeat right center;
    -o-background-size: 25px auto;
    -ms-background-size: 25px auto;
    -moz-background-size: 25px auto;
    -webkit-background-size: 25px auto;
    background-size: 25px auto;
}
.g-list1 li a{display: block;line-height: 50px;color: #808e9d;font-size: 16px;
    padding-left: 40px;background: url(../../../../assets/images/mobile/ico-l1.png) no-repeat 5px center;
    -o-background-size: 30px auto;
    -ms-background-size: 30px auto;
    -moz-background-size: 30px auto;
    -webkit-background-size: 30px auto;
    background-size: 30px auto;
}

.g-list2{padding: 20px;}
.g-list2 li{overflow: hidden;padding: 20px 0;}
.g-list2 .ico{float: left;width: 50px;height: 50px;display: block;margin-right: 15px;}
.g-list2 .txt{font-size: 15px;color: #c4cad0;line-height: 1.2;display: inline-block;padding-top: 8px;}


/*******************************
  -------[=banner]-------
*******************************/
#banner{overflow: hidden;position: relative;height: 0;padding-top: 37%;z-index: 1;
    background: #dcddde url(../../../../assets/images/mobile/loading.png) no-repeat center center;
    -o-background-size: 250px auto;
    -ms-background-size: 250px auto;
    -moz-background-size: 250px auto;
    -webkit-background-size: 250px auto;
    background-size: 250px auto;
}
#banner .slider{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
#banner img{display: block;width: 100%;}

#banner .slick-dots{position: absolute;left: 0;bottom: 15px;width: 100%;text-align: center;z-index: 99;}
#banner .slick-dots li{display: inline-block;margin: 0 4px;}
#banner .slick-dots li a{display: block;width: 8px;height: 8px;
    font-size: 0;line-height: 0;text-indent: 999px;background-color: #fff;border-radius: 50%;
}
#banner .slick-dots li.slick-active a{background-color: #5aabf8;}


/*******************************
  -------[=底部]-------
********************************/
#fd{position: fixed;left: 0;bottom: 0;width: 100%;height: 50px;padding-top: 5px;
    background-color: #fff;border-top: 1px solid #e5e5e5;z-index: 9;
    transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
}
.menu{overflow: hidden;}
.menu li{float: left;width: 20%;text-align: center;}
.menu li a{display: block;line-height: 15px;}
.menu li span{height: 30px;display: block;
    background: url(../../../../assets/images/mobile/ficon.png) no-repeat center top;
    -o-background-size: 25px auto;
    -ms-background-size: 25px auto;
    -moz-background-size: 25px auto;
    -webkit-background-size: 25px auto;
    background-size: 25px auto;
}
.menu li.on a{color: #3a9fff;}
.menu li.on span{background-image: url(../../../../assets/images/mobile/ficon-on.png);}
.menu li .ico1{background-position: center 0;}
.menu li .ico2{background-position: center -50px;}
.menu li .ico3{background-position: center -100px;}
.menu li .ico4{background-position: center -150px;}
.menu li .ico5{background-position: center -200px;}

/*******************************
    -------[=正文]-------
********************************/
.fixme{height: 100%;overflow: hidden;}
.overlay{position: fixed;left: 0;top: 0;width: 100%;height: 100%;
    background-color: rgba(0,0,0,.35);z-index: 998;
    background: url(../../../../assets/images/mobile/black-alpha35.png) repeat left top \9;
}
.overlay2{position: fixed;left: 0;bottom: 0;width: 100%;height: 56px;
    background-color: rgba(0,0,0,.35);z-index: 998;
    background: url(../../../../assets/images/mobile/black-alpha35.png) repeat left top \9;
}
.overlay-close{position: fixed;left: 50%;bottom: 55px;width: 50px;height: 50px;margin-left: -25px;
    background: url(../../../../assets/images/mobile/ico-close.png) no-repeat center center;z-index: 1001;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

/*公用*/
.box1{background-color: #fff;padding: 0 10px;
    border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;
}
.box2{background-color: #fff;border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.box3{background-color: #fff;border-top: 1px solid #e4e4e4;border-bottom: 1px solid #e4e4e4;}

.bgf{background-color: #fff;}

/*按钮*/
.a-more{display: inline-block;padding-right: 10px;
    background: url(../../../../assets/images/mobile/a1.png) no-repeat right center;
    -o-background-size: 6px auto;
    -ms-background-size: 6px auto;
    -moz-background-size: 6px auto;
    -webkit-background-size: 6px auto;
    background-size: 6px auto;
}
.a-btn1{display: inline-block;border: 2px solid #cecece;color: #888;
    line-height: 26px;padding: 0 5px 0 20px;border-radius: 3px;
    background: url(../../../../assets/images/mobile/ico-list.png) no-repeat 2px center;
    -o-background-size: 20px auto;
    -ms-background-size: 20px auto;
    -moz-background-size: 20px auto;
    -webkit-background-size: 20px auto;
    background-size: 20px auto;
}

/*标题*/
.s-tit1{padding: 10px 0;line-height: 16px;}
.s-tit1 h3{font-size: 15px;font-weight: normal;color: #2d2d2d;
    padding-left: 5px;border-left: 2px solid #3a9fff;
}

.s-tit2{padding: 8px 10px;line-height: 30px;overflow: hidden;}
.s-tit2 h3{font-size: 14px;font-weight: normal;color: #2d2d2d;display: inline-block;vertical-align: middle;
    padding-left: 5px;border-left: 2px solid #3a9fff;line-height: 16px;
}

.tit-1{height: 40px;line-height: 40px;padding-left: 17px;
    color: #616161;font-weight: normal;font-size: 14px;border-bottom: 1px solid #e4e4e4;
}
