

/*******************************
	-------[=首页]-------
********************************/
.g-list3{overflow: hidden;padding: 10px 0;background-color: #fff;
	border-bottom: 1px solid #e5e5e5;position: relative;z-index: 1000;
}
.g-list3 li{float: left;width: 25%;text-align: center;margin: 8px 0;}
.g-list3 .ico{display: block;margin: 0 auto 5px;width: 50%;max-width: 78px;}
.g-list3 h4{font-size: 12px;color: #5f5f5f;overflow: hidden;
	white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;
}

.m-list1{overflow: hidden;margin: 0 -5px;}
.m-list1 li{float: left;width: 50%;margin-bottom: 10px;}
.m-list1 .con{margin: 0 5px;}
.m-list1 .pic{position: relative;height: 0;padding-top: 63%;overflow: hidden;
	background:#dcddde url(../../../../assets/images/mobile/loading.png) no-repeat center center;
	-o-background-size: 80px auto;
	-ms-background-size: 80px auto;
	-moz-background-size: 80px auto;
	-webkit-background-size: 80px auto;
	background-size: 80px auto;
}
.m-list1 .pic img{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.m-list1 .txt{color: #888;border: 1px solid #efefef;padding: 5px;overflow: hidden;}
.m-list1 h4{font-size: 14px;font-weight: normal;
	overflow: hidden;white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;
}
.m-list1 .det{overflow: hidden;}

.m-list2{overflow: hidden;margin: 0 -5px;}
.m-list2 li{float: left;width: 50%;margin-bottom: 10px;}
.m-list2 .con{margin: 0 5px;}
.m-list2 .pic{position: relative;height: 0;padding-top: 100%;overflow: hidden;
	background:#dcddde url(../../../../assets/images/mobile/loading.png) no-repeat center center;
	-o-background-size: 80px auto;
	-ms-background-size: 80px auto;
	-moz-background-size: 80px auto;
	-webkit-background-size: 80px auto;
	background-size: 80px auto;
}
.m-list2 .pic img{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.m-list2 .txt{color: #888;border: 1px solid #efefef;padding: 5px;overflow: hidden;}
.m-list2 h4{font-size: 14px;font-weight: normal;
	overflow: hidden;white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;
}
.m-list2 h4 span{color: #3a9fff;font-size: 12px;border: 1px solid #3a9fff;
	display: inline-block;line-height: 1;padding: 2px;border-radius: 2px;margin-left: 5px;
}
.m-list2 .level{overflow: hidden;white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;}


.tab_tit{overflow: hidden;background-color: #fff;border-bottom: 1px solid #e5e5e5;}
.tab_tit li{float: left;width: 25%;text-align: center;}
.tab_tit li a{display: block;font-size: 13px;line-height: 45px;}
.tab_tit li.on a{color: #3a9fff;line-height: 43px;border-bottom: 2px solid #3a9fff;}
.arr-up{display: inline-block;padding-right: 15px;
	background: url(../../../../assets/images/mobile/a3.png) no-repeat right center;
	-o-background-size: 10px auto;
	-ms-background-size: 10px auto;
	-moz-background-size: 10px auto;
	-webkit-background-size: 10px auto;
	background-size: 10px auto;
}

.videoBox{position: relative;background-color: #292f3d;position: relative;height: 0;padding-top: 56%;}
.videoBox video{position: absolute;left: 0;top: 0;
	display: block;width: 100%;height: 100%;background-color: #000;
}
.videoBox .playBtn{display: block;width: 100%;height: 100%;
	position: absolute;left: 0;top: 0;
	background: url(../../../../assets/images/mobile/ico-play.png) no-repeat center center;
	-o-background-size: 50px auto;
	-ms-background-size: 50px auto;
	-moz-background-size: 50px auto;
	-webkit-background-size: 50px auto;
	background-size: 50px auto;
}

.tz-list4{width: 98%;margin: 0 auto;}
.tz-list4 li{overflow: hidden;border-bottom: 1px solid #e5e5e5;margin-bottom: 20px;}
.tz-list4 .pic{position: relative;height: 0;padding-top: 59%;overflow: hidden;border: 1px solid #e5e5e5;}
.tz-list4 .pic img{display: block;width: 100%;height: 100%;position: absolute;left: 0;top: 0;}
.tz-list4 .txt{font-size: 14px;color: #454545;padding: 10px 0;}
.tz-list4 h3{font-size: 18px;font-weight: normal;color: #333;margin-bottom: 5px;}


/*******************************
	-------[=sz-start]-------
********************************/

/* 注册登录 */
.inp-group{width: 100%;}
.inp-group tr{border-bottom: 1px solid #e4e4e4;}
.inp-group tr:last-child{border-bottom: 0;}
.inp-group th,.inp-group td{height: 45px;line-height: 45px;vertical-align: top;}
.inp-group th{width: 75px;color: #5f5f5f;font-size: 15px;font-weight: normal;text-align: left;}
.inp-group .inp{width: 100%;display: block;height: 45px;line-height: 45px \9;
    color: #cecece;font-size: 13px;border: none;outline: none;
}
.inp-group .vcode{display: inline-block;width: 87px;height: 38px;
    position: absolute;right: 0;top: 3px;
}
.inp-group .btn{position: absolute;right: 0;top: 7px;}

.wp-btn{width: 96%;margin: 25px auto 0;}
.btn{cursor: pointer;font-family:"微软雅黑","Microsoft Yahei";outline: none;border: none;}
.btn-blue{background-color: #3a9fff;color: #fff;}
.btn-default{background-color: #e4e4e4;color: #999;}
.btn-sm{width: 85px;height: 30px;font-size: 13px;border-radius: 3px;}
.btn-lg{height: 40px;width: 100%;border-radius: 5px;font-size: 16px;}
.wp-btn .tips{margin-top: 20px;font-size: 14px;}
.wp-btn .tips a{color: #888;}
.wp-btn .tips .fgt-pad{float: right;color: #3a9fff;}

/* 视频 */
.sz-list1{padding: 5px 0 5px 10px;}
.sz-list1 li{padding-top: 15px;}
.sz-list1 li:last-child .txt{border-bottom: 0;}
.sz-list1 .pic{float: left;width: 82px;}
.sz-list1 .txt{margin-left: 95px;padding: 5px 0;border-bottom: 1px solid #dcddde;line-height: 1.7;}
.sz-list1 h4{font-weight: normal;font-size: 13px;line-height: 1;height: 1em;
	overflow: hidden;white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;
}
.sz-list1 h4 a{color: #333;}
.sz-list1 .teacher,.sz-list1 .hours{color: #888;}
.sz-list1 .hours{margin-left: 15px;}
.sz-list1 .learner{color: #ff9c00;}

/* 名师 */
.sz-list2{padding: 5px 0 5px 12px;background-color: #fff;}
.sz-list2 li{padding-top: 15px;background: url(../../../../assets/images/mobile/m-list2-ico.png) no-repeat center right 15px;}
.sz-list2 li:last-child .txt{border-bottom: 0;}
.sz-list2 .pic{float: left;width: 55px;margin-right: 10px;}
.sz-list2 .txt{overflow: hidden;padding: 0 0 10px;border-bottom: 1px solid #dcddde;}
.sz-list2 h4{font-weight: normal;font-size: 15px;line-height: 1;}
.sz-list2 h4 a{color: #333;}
.sz-list2 .intro{overflow: hidden;color: #888;font-size: 13px;height: 1.5em;}
.sz-list2 .tags{padding-top: 5px;}
.tags span{display: inline-block;width: 15px;height: 15px;line-height: 15px;text-align: center;color: #68aef4;border: 1px solid #68aef4;border-radius: 3px;}

/* 详细信息 */
.box-teacher{overflow: hidden;padding: 15px;line-height: 1.8;}
.box-teacher .pic{float: left;}
.box-teacher .txt{margin-left: 90px;color: #4b4b4b;}
.box-teacher .txt .hd{overflow: hidden;vertical-align: middle;}
.box-teacher h4{float: left;font-weight: normal;font-size: 15px;}
.box-teacher .tags{display: inline-block;padding-left: 5px;}
.box-teacher .years{font-size: 14px;}
.box-teacher .info{color: #696969;font-size: 13px;}

.box-info{}
.box-info .con{margin: 10px 0;padding: 0 15px;color: #3b3b3b;line-height: 25px;height: 75px;overflow: hidden;}
.box-info .more{display: block;line-height: 36px;text-align: center;border-top: 1px solid #e4e4e4;}
.box-info .more span{display: inline-block;padding-right: 25px;color: #989898;
	background: url(../../../../assets/images/mobile/info-more.png) no-repeat right center;
}
.box-info .more.open span{background-image: url(../../../../assets/images/mobile/info-more-on.png);}

/* 视频播放 */
.info-video{padding: 25px 10px;background-color: #fff;}
.info-video h3{font-weight: normal;font-size: 16px;}
.info-video h3 a{color: #333;}
.info-video .intro{padding: 10px 0 25px;color: #888;}
.info-video .learner{display: inline-block;padding: 0 20px;
	height: 30px;line-height: 30px;border-radius: 15px;
	background-color: #f4f4f4;color: #68aef4;
}
.info-video .btn-group{float: right;}
.info-video .btn-group a{margin-left: 15px;}

.a-save,.a-download,.a-share{
	display: inline-block;height: 30px;width: 30px;
	background-repeat: no-repeat;
	background-position: center center;
	-o-background-size: 25px auto;
	-ms-background-size: 25px auto;
	-moz-background-size: 25px auto;
	-webkit-background-size: 25px auto;
	background-size: 25px auto;
}
.a-save{background-image: url(../../../../assets/images/mobile/ico-btn1.png);}
.a-download{background-image: url(../../../../assets/images/mobile/ico-btn2.png);}
.a-share{background-image: url(../../../../assets/images/mobile/ico-btn3.png);}

.sz-list3 {padding-left: 12px;background-color: #fff;}
.sz-list3 li{height: 50px;line-height: 50px;padding-left: 7px;border-bottom: 1px solid #e4e4e4;}
.sz-list3 li:last-child{border-bottom: 0;}
.sz-list3 li a{font-size: 14px;color: #5f5f5f;}

/* 分类 */
.bg-cta{background:#fff url(../../../../assets/images/mobile/bg-cta.jpg) repeat-y -6px top;}

.nav-cta{position: relative;}
.nav-cta li{width: 93px;min-height: 47px;text-align: center;background-color: #f2f2f2;
	border-bottom: 1px solid #e9e9e9;border-right: 1px solid #e9e9e9;
}
.nav-cta h3{padding: 16px 0;color: #9b9b9b;font-size: 13px;font-weight: normal;cursor: pointer;}
.nav-cta h3 span{display: block;line-height: 1;font-size: 12px;}
.nav-cta .on{padding-right: 1px;background-color: #fff;border-right: none;}
.nav-cta .on h3{border-left: 3px solid #3a9fff;}
.sub-nav{position: absolute;top: 0;right: 0;left: 94px;text-align: left;}
.sub-nav dd{height: 38px;line-height: 38px;}
.sub-nav dd a{padding-left: 23px;display: block;color: #666;}
.sub-nav .on a{background-color: #f4f5f7;color: #5dabfe;}

.search-box{padding: 10px;background-color: #fff;border-bottom: 1px solid #e9e9e9;}
.search-box .inp{width: 100%;height: 30px;padding-left: 65px;color: #9a9a9a;
	font-size: 15px;border-radius: 3px;
	background: #e7e7e7 url(../../../../assets/images/mobile/search-icon.png) no-repeat 44px center;
}
.search-box .inp::-webkit-input-placeholder {color: #9a9a9a;}
.search-box .inp::-moz-placeholder {color: #9a9a9a; }
.search-box .inp::-ms-input-placeholder {color: #9a9a9a;}

/*******************************
	-------[=sz-end]-------
********************************/
