{% extends "AcmeWebUIBundle::layouts/homebase.html.twig" %}

{% block title %}课程详情{% endblock %}

{% block stylesheet %}

  <link rel="stylesheet" href="assets/css/pc/cui.css" />
  <link rel="stylesheet" href="assets/css/pc/lib.css" />
  <link rel="stylesheet" href="assets/css/pc/style.css" />
  <link rel="stylesheet" href="assets/css/pc/jquery.fancybox.css">

{% endblock %}

{% block content %}

     <div id="top">
    <div class="wp">
      <div class="top-r">
        <a href="login.html" class="login-fancybox fancybox.iframe">登录</a>
        <a href="reg.html" class="reg-fancybox fancybox.iframe">注册</a>
        <a href="" class="a-app">下载app</a>
        <a href="">帮助中心</a>
      </div>
    </div>
  </div>

  <div id="hd">
    <div class="wp">
      <a href="" class="logo"><img src="assets/images/pc/logo.png" alt=""></a>
      <div class="hdr">
        <ul class="g-webInfo">
          <li>
            <a href=""><img src="assets/images/pc/ico1.png" alt="" class="ico"></a>
            <div class="txt">58918 门课程<br>给你更强能力</div>
          </li>
          <li>
            <a href=""><img src="assets/images/pc/ico2.png" alt="" class="ico"></a>
            <div class="txt">18918 位名师<br>任你选择</div>
          </li>
          <li>
            <a href=""><img src="assets/images/pc/ico3.png" alt="" class="ico"></a>
            <div class="txt">892365 名学员<br>与你同学</div>
          </li>
        </ul>
        <div class="searchBox">
          <form action="">
          <input type="text" class="so-inp" placeholder="搜索贴子、用户或课程..." value="">
          <input type="submit" class="so-btn" value="">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div id="nv">
    <div class="wp">
      <div id="mainNav">
        <a href="javascript:void(0);" class="mainNavBtn">全部课程分类</a>
        <ul class="mainNavBox">
          <li><a href="" class="v1">一级注册建造师</a>
            <dl>
              <dd><a href="">建设项目工程管理</a></dd>
              <dd><a href="">法律及相关知识</a></dd>
              <dd><a href="">建设工程经济</a></dd>
              <dd><a href="">建筑工程</a></dd>
              <dd><a href="">机电工程市政工程</a></dd>
              <dd><a href="">公路工程</a></dd>
              <dd><a href="">通信与广电</a></dd>
              <dd><a href="">矿山工程</a></dd>
              <dd><a href="">铁路工程</a></dd>
              <dd><a href="">水利水电工程</a></dd>
              <dd><a href="">港口与航道</a></dd>
              <dd><a href="">民航机场</a></dd>
            </dl>
          </li>
          <li><a href="" class="v1">二级注册建造师</a></li>
          <li><a href="" class="v1">注册造价工程师</a></li>
          <li><a href="" class="v1">注册结构工程师</a></li>
          <li><a href="" class="v1">注册监理工程师</a></li>
          <li><a href="" class="v1">注册一级消防工程师</a></li>
          <li><a href="" class="v1">注册二级消防工程师</a></li>
          <li><a href="" class="v1">注册电气工程师</a></li>
          <li><a href="" class="v1">岗位证（八大员）</a></li>
          <li><a href="" class="v1">物业管理师</a></li>
        </ul>
      </div>
      <ul class="nav">
        <li><a href="">网站首页</a></li>
        <li><a href="">入驻名师</a></li>
        <li class="on"><a href="">视频课程</a></li>
        <li><a href="">试题库</a></li>
        <li><a href="">关于我们</a></li>
      </ul>
    </div>
  </div>

  <div id="bd">
    <div class="wp">
      <div class="cur_tit">
        <a href="">全部视频</a><em>&gt;</em><a href="">一级注册建筑师</a>
      </div>

      <div class="m-vedio">
        <h3>2015年一建市政精讲城镇道路工程结构与材料（1）</h3>
        <div class="videoBox">
          <div class="video">
            <video src="video/video.mp4" width="870" height="500">
              您的浏览器不支持 video 标签。
            </video>
            <div class="videoBtn">
              <a href="" class="a-play"></a>
              <a href="" class="a-quick"></a>
              <a href="" class="a-full"></a>
            </div>
            <a href="javascript:void(0);" class="playBtn"></a>
          </div>
          <div class="video-tab">
            <div class="name">
              <h4>2015年一建市政精讲课程</h4>
              <span>主讲老师：甘森森</span>
            </div>
            <ul class="tz-list3">
              <li class="on">
                <h4><a href="">第1节：城镇道路工程结构与材料（1）</a></h4>
                <span>学习次数 6 次</span>
              </li>
              <li>
                <h4><a href="">第2节：城镇道路工程结构与材料（2）</a></h4>
                <span>学习次数 10 次</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="h30"></div>

      <div class="course_cont">
        <div class="col-l">
          <h3 class="tit2 nobor">课程介绍</h3>
          <div class="mg-intro">
            <h4>简介：2015年一级建造师市政工程精讲课</h4>
            <p>城镇道路工程结构与材料，城镇道路路基施工，城镇道路基层施工，城镇道路面层施工
            城市桥梁结构形式及通用施工，城镇道路基层施工，城镇道路面层施工施工，城镇道路
            基层施工，城镇道路面层施工城镇道路工程结构与材料。</p>
          </div>
          <div class="h20"></div>

          <h3 class="tit2">课程列表</h3>
          <ul class="vedio-list">
            <li><a href="" class="a-study">立即学习</a><a href="">第1节：城市桥梁结构形式及通用施工技术（1）第1节：城市桥梁结构形式及通用施工技术（1）第1节：城市桥梁结构形式及通用施工技术（1）</a></li>
            <li><a href="" class="a-study">立即学习</a><a href="">第2节：城市桥梁结构形式及通用施工技术（2）</a></li>
            <li><a href="" class="a-study">立即学习</a><a href="">第3节：城市桥梁结构形式及通用施工技术（3）</a></li>
            <li><a href="" class="a-study">立即学习</a><a href="">第4节：城市桥梁结构形式及通用施工技术（4）</a></li>
            <li><a href="" class="a-study">立即学习</a><a href="">第5节：城市桥梁结构形式及通用施工技术（5）</a></li>
            <li><a href="" class="a-study">立即学习</a><a href="">第6节：城市桥梁结构形式及通用施工技术（6）</a></li>
            <li><a href="" class="a-study">立即学习</a><a href="">第6节：城市桥梁结构形式及通用施工技术（6）</a></li>
            <li><a href="" class="a-study">立即学习</a><a href="">第6节：城市桥梁结构形式及通用施工技术（6）</a></li>
            <li><a href="" class="a-study">立即学习</a><a href="">第6节：城市桥梁结构形式及通用施工技术（6）</a></li>
            <li><a href="" class="a-study">立即学习</a><a href="">第6节：城市桥梁结构形式及通用施工技术（6）</a></li>
          </ul>
        </div>

        <div class="col-r">
          <h3 class="tit2">授课老师</h3>
          <div class="mg-intro-tea">
            <div class="name">
              <img src="assets/images/pc/blank.gif" alt="">
              <p>甘 森</p>
            </div>
            <div class="det">
              介绍： 甘 森：男，北京交通大学土建学院硕士，一级建造师，注册安全工程师，注册咨询师（投
              资），多年大型国企现场施工管理经验 。, 教学理论和实际相结合，通俗易懂，采用口诀记忆法
              联想记忆法，数字概括记忆法教学... 
              <a href="">查看更多</a>
            </div>
          </div>
          <div class="h20"></div>

          <h3 class="tit2">猜你喜欢</h3>
          <ul class="tz-list2">
            <li>
              <a href=""><img src="assets/images/pc/blank.gif" alt="" class="img"></a>
              <div class="txt">
                <h4><a href="">2015年一级建造师精选课程2015年一级建造师精选课程2015年一级建造师精选课程2015年一级建造师精选课程</a></h4>
                <span>主讲老师：甘森林</span>
              </div>
            </li>
            <li>
              <a href=""><img src="assets/images/pc/blank.gif" alt="" class="img"></a>
              <div class="txt">
                <h4><a href="">2015年一级建造师精选课程2015年一级建造师精选课程2015年一级建造师精选课程2015年一级建造师精选课程</a></h4>
                <span>主讲老师：甘森林</span>
              </div>
            </li>
            <li>
              <a href=""><img src="assets/images/pc/blank.gif" alt="" class="img"></a>
              <div class="txt">
                <h4><a href="">2015年一级建造师精选课程2015年一级建造师精选课程2015年一级建造师精选课程2015年一级建造师精选课程</a></h4>
                <span>主讲老师：甘森林</span>
              </div>
            </li>
            <li>
              <a href=""><img src="assets/images/pc/blank.gif" alt="" class="img"></a>
              <div class="txt">
                <h4><a href="">2015年一级建造师精选课程2015年一级建造师精选课程2015年一级建造师精选课程2015年一级建造师精选课程</a></h4>
                <span>主讲老师：甘森林</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="h20"></div>

      <h3 class="tit2">相关课程</h3>
      <ul class="mg-about">
        <li>
          <div class="pic">
            <a href=""><img src="assets/images/pc/blank.gif" alt=""></a>
          </div>
          <div class="txt">
            <h4><a href="">2015年一级建造师精选课程</a></h4>
            <p>主讲老师：甘森林</p>
          </div>
        </li>
        <li>
          <div class="pic">
            <a href=""><img src="assets/images/pc/blank.gif" alt=""></a>
          </div>
          <div class="txt">
            <h4><a href="">2015年一级建造师精选课程</a></h4>
            <p>主讲老师：甘森林</p>
          </div>
        </li>
        <li>
          <div class="pic">
            <a href=""><img src="assets/images/pc/blank.gif" alt=""></a>
          </div>
          <div class="txt">
            <h4><a href="">2015年一级建造师精选课程</a></h4>
            <p>主讲老师：甘森林</p>
          </div>
        </li>
        <li>
          <div class="pic">
            <a href=""><img src="assets/images/pc/blank.gif" alt=""></a>
          </div>
          <div class="txt">
            <h4><a href="">2015年一级建造师精选课程</a></h4>
            <p>主讲老师：甘森林</p>
          </div>
        </li>
        <li>
          <div class="pic">
            <a href=""><img src="assets/images/pc/blank.gif" alt=""></a>
          </div>
          <div class="txt">
            <h4><a href="">2015年一级建造师精选课程</a></h4>
            <p>主讲老师：甘森林</p>
          </div>
        </li>
      </ul>
      <div class="h40"></div>

      <div class="adBox"><a href=""><img src="assets/images/pc/blank.gif" alt=""></a></div>
      <div class="h40"></div>
    </div>
  </div>
  <div class="h40"></div>

{% endblock %}

{% block footer %}

      <div id="fd">
    <div class="wp">
      <div class="ftop">
        <div class="fnav">
          <dl class="fm1">
            <dt><a href="">关于我们</a></dt>
            <dd><a href="">关于我们</a></dd>
            <dd><a href="">加入我们</a></dd>
            <dd><a href="">联系我们</a></dd>
          </dl>
          <dl class="fm1">
            <dt><a href="">学习资讯</a></dt>
            <dd><a href="">课程学习</a></dd>
            <dd><a href="">就业指南</a></dd>
            <dd><a href="">认证考证</a></dd>
          </dl>
          <dl class="fm1">
            <dt><a href="">帮助中心</a></dt>
            <dd><a href="">VIP学员特权</a></dd>
            <dd><a href="">积分规则</a></dd>
          </dl>
          <dl class="fm1">
            <dt><a href="">合作加盟</a></dt>
            <dd><a href="">推广加盟</a></dd>
            <dd><a href="">渠道加盟</a></dd>
            <dd><a href="">名师加盟</a></dd>
          </dl>
          <dl class="fm1">
            <dt><a href="">下载中心</a></dt>
            <dd><a href="">客户端</a></dd>
            <dd><a href="">表情包</a></dd>
            <dd><a href="">桌面壁纸</a></dd>
          </dl>
        </div>
        <div class="fdr">
          <div class="ftel">400-029-3003</div>
          每天 9:30 - 23:30 (仅收市话费)
          <div class="flink">
            <a href=""><img src="assets/images/pc/fico1.png" alt=""></a>
            <a href=""><img src="assets/images/pc/fico2.png" alt=""></a>
            <a href=""><img src="assets/images/pc/fico3.png" alt=""></a>
            <a href=""><img src="assets/images/pc/fico4.png" alt=""></a>
          </div>
        </div>
      </div>
      <div class="fcopy">
        Copyright@2008-2038中建瑞通版权所有京ICP备15000560号-1 京ICP证080808号
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}

  <script src="assets/js/pc/jquery.js"></script>
  <script src="assets/js/pc/lib.js"></script>
  <script src="assets/js/pc/jquery.fancybox.pack.js"></script>

{% endblock %}

{% block script %}

     <script>
  $(document).ready(function() {
    $('.vedio-list li').hover(function() {
      $(this).toggleClass('on');
    });
  });
  </script>

    <script>
  $(document).ready(function() {
    // 登陆注册-弹出
    $('.login-fancybox').fancybox({
      padding:0,
        width:460,
        height:328
    });
    $('.reg-fancybox').fancybox({
      padding:0,
        width:460,
        height:629
    });
  });
  </script>

{% endblock %}