{% extends "AcmeWebUIBundle::layouts/accountbase.html.twig" %}

{% block content %}

  <div class="admin-content">
        <div class="am-cf am-padding">
          <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">添加教师</strong>
          </div>
        </div>

	      <div class="admin-content">
            <div class="am-g">
               <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
               </div>

      <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
        <form class="am-form am-form-horizontal">
          <div class="am-form-group">
            <label for="user-name" class="am-u-sm-3 am-form-label">教师名 / Teach
            </label>
            <div class="am-u-sm-9">
              <input type="text" id="user-name" placeholder="教师名 / Teacher">
              <small>输入您的昵称，让我们记住你。</small>
          </div>
      </div>
		  
		  <div class="am-form-group">
            <label for="user-password" class="am-u-sm-3 am-form-label">主修课程 / Class</label>
            <div class="am-u-sm-9">
              <input type="text" id="user-password" placeholder="输入您的主修课程 / Class">
			        <small>输入您的主修课程，以便于我们了解你哦。</small>
            </div>
      </div>
		  
		  <div class="am-form-group">
            <label for="user-rep" class="am-u-sm-3 am-form-label">您的照片 / Pho</label>
            <div class="am-u-sm-9">
              <input type="file" id="user-rep" ">
			        <small>请添加您的照片，让我们更好地认识你。</small>
            </div>
      </div>		  
		  
          <div class="am-form-group">
            <div class="am-u-sm-9 am-u-sm-push-3">
              <button type="button" class="am-btn am-btn-primary">保存修改</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}