/*******************************
	-------[=Ê×Ò³]-------
********************************/
.index-teacher{padding-bottom: 60px;
	background:#eff2f5 url(../../../assets/images/pc/bg2.jpg) no-repeat center top;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}
.index-teacher .slider{}
.index-teacher .slider .slick-next,.index-teacher .slider .slick-prev{
	position: absolute;top: 50%;margin-top: -20px;overflow: hidden;
	width: 40px;height: 40px;font-size: 0;line-height: 0;line-height: 999;
	background-repeat: no-repeat;background-position: center center;
}
.index-teacher .slider .slick-prev{left: -40px;background-image: url(../../../assets/images/pc/arr-l2.png);}
.index-teacher .slider .slick-next{right: -40px;background-image: url(../../../assets/images/pc/arr-r2.png);}

.s-list2{text-align: center;}
.s-list2 li{float: left;width: 25%;}
.s-list2 .con{margin: 0 10px;}
.s-list2 .avatar{display: block;width: 170px;height: 170px;overflow: hidden;
	border: 5px solid #eee;
	margin: 25px auto 50px;border-radius: 50%;background-color: #fff;
	transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	-o-transition: .3s;
}
.s-list2 .avatar img{display: block;width: 100%;height: 100%;}
.s-list2 .slick-center .avatar{width: 220px;height: 220px;margin: 0 auto 25px;}
.s-list2 h4{font-size: 22px;font-weight: normal;color: #515a63;margin-bottom: 10px;}
.s-list2 .det{font-size: 18px;color: #7f8c8d;}

.index-partner{height: 80px;line-height: 80px;padding: 40px 0;background-color: #eff2f5;}
.s-list1{overflow: hidden;}
.s-list1 li{float: left;height: 80px;line-height: 80px;}
.s-list1 li img{display: inline-block;vertical-align: middle;max-height: 80px;}

.index-help{padding: 210px 0 60px;text-align: center;
	background: url(../../../assets/images/pc/bg1.jpg) repeat center top;
}
.a-android,.a-apple{display: inline-block;width: 220px;height: 53px;font-size: 22px;color: #fff;
	border: 2px solid #fff;border-radius: 2px;text-align: center;line-height: 53px;margin: 0 40px;
}
.a-android span,.a-apple span{display: inline-block;padding-left: 35px;color: #fff;}
.a-android span{background: url(../../../assets/images/pc/ico-android.png) no-repeat left center;}
.a-apple span{background: url(../../../assets/images/pc/ico-apple.png) no-repeat left center;}

/*******************************
	-------[=¹ØÓÚÎÒÃÇ]-------
********************************/
#ban{height: 390px;text-align: center;font-size: 37px;color: #fff;text-shadow:0 2px 5px #333;
	background-position: center center;background-repeat: no-repeat;
}
#ban h2{font-size: 56px;font-weight: normal;padding-top: 100px;}

.tz-list4{padding-bottom: 130px;}
.tz-list4 li{overflow: hidden;border-bottom: 1px solid #e5e5e5;}
.tz-list4 .pic{width: 560px;height: 330px;float: left;}
.tz-list4 .pic img{display: block;width: 100%;height: 100%;}
.tz-list4 .txt{font-size: 18px;color: #454545;float: right;width: 560px;line-height: 30px;}
.tz-list4 h3{font-size: 24px;font-weight: normal;color: #333;margin-bottom: 20px;padding-top: 100px;}
.tz-list4 li.odd .pic{float: right;}
.tz-list4 li.odd .txt{float: left;}

/*******************************
	-------[=mg-start]-------
********************************/

/*·ÖÒ³*/
.page{text-align: center;margin-bottom: 40px;font-family: 'Arial';}
.page ul{display: inline-block;overflow: hidden;line-height: 40px;}
.page li{float: left;margin: 0 5px;}
.page li .prev,.page li .next{font-family: 'ËÎÌå';font-weight: bold;}
.page li a{padding: 0 15px;background: #efefef;font-size: 16px;color: #999;
	display: inline-block;border-radius: 5px;
}
.page li.on a,.page li:hover a{background: #3a9fff;color: #FFF;}

/*Ê×Ò³ÖÐ¼ä²¿·Ö¹«ÓÃ*/
.ul-list1{overflow: hidden;width: 1217px;}
.ul-list1 li{float: left;margin:0 16px 20px 0;width: 380px;border:1px solid #e5e5e5;}
.ul-list1 .pic{height: 240px;background-color: #f2f2f2;}
.ul-list1 .pic img{display: block;width: 100%;height: 100%;}
.ul-list1 .txt{height: 80px;background: #FFF;padding-left: 20px;}
.ul-list1 h4{line-height: 40px;font-size: 18px;color: #515a63;font-weight: normal;
	overflow: hidden;white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;
}
.ul-list1 .txt p{text-align: right;font-size: 14px;color: #999;padding-right: 13px;}
.ul-list1 .txt p span{display: inline-block;float: left;font-size: 14px;color: #999;}

/*ÃûÊ¦¿Î³Ì¶¥²¿*/
.tea-header{border:1px solid #dedede;margin-bottom: 15px;}
.tea-header .active{background: #3a9fff;color: #FFF;}
.tea-header table{width: 100%;font-size: 14px;}
.tea-header th,.tea-header td{padding: 10px 0;vertical-align: top;}
.tea-header th{text-align: center;color: #999;font-weight: normal;}
.tea-header td{color: #666;}
.tea-header td span{padding: 3px 8px;cursor: pointer;}
.tea-header td a{padding: 3px 8px;display: inline-block;margin-right: 39px;margin-bottom: 5px;}
.tea-header td a:hover{background: #3a9fff;color: #FFF;}

/*ÅÅÐòÊä³ö*/
.filter_tit{line-height: 30px;padding-right: 26px;overflow:hidden;font-size: 14px;}
.filter_tit .order{border-radius: 4px;float: left;border:1px solid #dedede;margin-right: 25px;}
.filter_tit .order a{text-align: center;color: #999;
	display: inline-block;padding: 0 10px;border-right: 1px solid #dedede;
}
.filter_tit .order a.on{background: #3a9fff;color: #FFF;}
.filter_tit .order a:last-child{border-right: 0;}
.filter_tit .num{float: right;}
.course-check{display: inline-block;border-left: 1px solid #dedede;
	padding-left: 18px;cursor: pointer;line-height: 20px;vertical-align: middle;
}
.course-check input{display: inline-block;margin-right: 5px;position: relative;top: 2px;}

/*ÃûÊ¦¿Î³ÌÁÐ±í*/
.tea-list{overflow: hidden;width: 1220px;}
.tea-list li{float: left;width: 265px;margin:0 37px 40px 0;border:1px solid #e5e5e5;}
.tea-list .pic{height: 265px;background-color: #f2f2f2;}
.tea-list .pic img{display: block;width: 100%;height: 100%;}
.tea-list .txt{background: #FFF;overflow: hidden;padding: 5px 10px 10px;font-size: 14px;}
.tea-list h4{color: #515a63;font-size: 18px;line-height: 34px;font-weight: normal;
	overflow: hidden;white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;
}
.tea-list h4 a{color: #515a63;}
.tea-list .txt-g{color: #787878;margin-bottom: 5px;}
.tea-list .info{color: #999;}
.tea-list .info span{float: right;color: #3a9fff;}

/*¿Î³Ì*/
.price-y{width: 230px;height: 24px;display: inline-block;font-size: 14px;color: #666;}
.price-y input{width: 45px;height: 22px;border:1px solid #dedede;outline: none;text-align: center;}
.price-y .price-btn{border-radius: 4px;background: #f3f3f3;font-size: 12px;color: #999;text-align: center;line-height: 22px;}


/*¿Î³ÌÖÐµÄÁÐ±í*/
.course-list{overflow: hidden;}
.course-list li{overflow: hidden;border-bottom: 1px solid #e5e5e5;padding: 30px 0;}
.course-list .pic{width: 270px;height: 163px;float: left;background-color: #deecf5;}
.course-list .pic img{display: block;width: 100%;height: 100%;}
.course-list .txt{margin-left: 290px;width: 710px;font-size: 14px;color: #666;}
.course-list h4{color: #e60012;font-size: 20px;font-weight: normal;line-height: 50px;
	overflow: hidden;white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;
}
.course-list h4 a{color: #333;}
.course-list .price{float: right;margin-right: 30px;font-size: 22px;color: #e60012;}
.course-list .free{color: #3a9fff;}
.course-list .det{height: 40px;color: #666;line-height: 20px;overflow: hidden;margin-bottom: 30px;}
.course-list .info{}
.course-list .info span{display: inline-block;margin-right: 45px;}

/*µ±Ç°Î»ÖÃ*/
.cur_tit{line-height: 36px;overflow: hidden;font-size: 14px;color: #999;}
.cur_tit a{font-size: 12px;color: #3a9fff;}
.cur_tit em{font-family: 'ËÎÌå';display: inline-block;margin: 0 5px;}

/*¿Î³ÌÏêÇé*/
.m-vedio{}
.m-vedio h3{font-size: 20px;color: #464646;font-weight: normal;margin-bottom: 10px;}
.videoBox{background-color: #2b2b2b;overflow: hidden;}
.videoBox .video{width: 870px;height: 540px;float: left;background-color: #1c1c1c;position: relative;}
.videoBox video{display: block;background-color: #1c1c1c;height: 500px;width: 870px;}
.videoBox .video .playBtn{position: absolute;left: 0;top: 0;width: 100%;height: 500px;
	background: url(../../../assets/images/pc/ico-video.png) no-repeat center center;
}
.videoBox .videoBtn{height: 40px;overflow: hidden;background-color: #242424;}
.videoBtn a{display: block;height: 40px;float: left;}
.videoBtn .a-play{width: 52px;background: url(../../../assets/images/pc/video-btn.png) no-repeat left center;}
.videoBtn .a-quick{width: 52px;background: url(../../../assets/images/pc/video-btn.png) no-repeat right center;}
.videoBtn .a-full{width: 40px;float: right;
	background: url(../../../assets/images/pc/ico-full.png) no-repeat center center;
}


.videoBox .video-tab{width: 310px;height: 540px;float: right;}
.video-tab{}
.video-tab .name{padding: 15px 30px;font-size: 14px;color: #999;
	border-bottom: 1px solid #1c1c1c;
}
.video-tab .name h4{font-size: 18px;font-weight: normal;
	overflow: hidden;white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;
}

.tz-list3{}
.tz-list3 li{height: 40px;overflow: hidden;color: #adadad;padding: 0 15px;}
.tz-list3 a{color: #adadad;}
.tz-list3 h4{font-size: 14px;font-weight: normal;line-height: 40px;padding-left: 25px;
	overflow: hidden;white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;
	background: url(../../../assets/images/pc/ico-play.png) no-repeat left center;
}
.tz-list3 span{display: block;padding-left: 25px;height: 30px;}
.tz-list3 li.on{background-color: #1c1c1c;height: auto;}
.tz-list3 li.on h4{background-image: url(../../../assets/images/pc/ico-voice.png);}

.course_cont{overflow: hidden;}
.course_cont .col-l{width: 860px;}
.course_cont .col-r{width: 300px;}

.mg-intro{padding: 30px 220px 40px 30px;background: #eff2f5;
	font-size: 16px;color: #515a63;line-height: 30px;
}
.mg-intro h4{color: #515a63;font-size: 16px;font-weight: normal;}

.vedio-list{overflow: hidden;}
.vedio-list li{border: 1px solid #FFF;border-radius: 5px;font-size: 14px;line-height: 48px;
	overflow: hidden;white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;
}
.vedio-list li a{color: #666;}
.vedio-list .a-study{display: none;padding-left: 20px;float: right;
	background: url(../../../assets/images/pc/ico-play-on.png) no-repeat left center;
}
.vedio-list li.on{color: #3a9fff;border-color: #3a9fff;padding: 0 30px 0 20px;}
.vedio-list li.on a{color: #3a9fff;}
.vedio-list li.on .a-study{display: inline-block;}

/*¿Î³ÌÓÒ²à*/
.mg-intro-tea{padding-top: 10px;}
.mg-intro-tea .name{font-size: 18px;color: #464646;overflow: hidden;margin-bottom: 10px;}
.mg-intro-tea .name img{width: 70px;height: 70px;float: left;margin-right: 10px;background-color: #f2f2f2;}
.mg-intro-tea .name p{float: left;}
.mg-intro-tea .det{font-size: 14px;color: #666;line-height: 25px;height: 125px;overflow: hidden;position: relative;}
.mg-intro-tea .det a{position: absolute;bottom: 0;right: 0;
	text-decoration: underline;color: #999;background: #FFF;
}
.mg-intro-tea .det a:hover{color: #3391ea;}

.tz-list2{}
.tz-list2 li{margin-top: 20px;overflow: hidden;}
.tz-list2 .img{width: 100px;height: 60px;float: left;background-color: #f2f2f2;margin-right: 10px;}
.tz-list2 .txt{margin-left: 110px;font-size: 14px;color: #999;}
.tz-list2 h4{font-size: 14px;color: #666;font-weight: normal;line-height: 18px;
	overflow: hidden;white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;
}
.tz-list2 h4 a{color: #666;}
.tz-list2 h4 a:hover{color: #3391ea;}

/*Ïà¹Ø¿Î³Ì*/
.mg-about{overflow: hidden;width: 1200px;padding-top: 10px;} 
.mg-about li{float: left;width: 220px;margin-right: 20px;}
.mg-about .pic{height: 130px;background-color: #f2f2f2;margin-bottom: 5px;}
.mg-about .pic img{display: block;width: 100%;height: 100%;}
.mg-about .txt{font-size: 14px;color: #999;}
.mg-about h4{font-size: 14px;color: #666;font-weight: normal;line-height: 18px;overflow: hidden;
	overflow: hidden;white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;
}
.mg-about h4 a{color: #666;}
.mg-about h4 a:hover{color: #3391ea;}

.adBox{height: 90px;background-color: #f2f2f2;}
.adBox img{display: block;width: 100%;height: 100%;}

/*ÃûÊ¦ÏêÇé*/
.m-name{overflow: hidden;padding-bottom: 30px;border-bottom: 1px solid #e5e5e5;font-size: 16px;color: #787878;}
.m-name .img{float: left;width: 145px;height: 145px;background-color: #f2f2f2;margin-right: 25px;}
.m-name .img img{display: block;width: 100%;height: 100%;}
.m-name .txt{float: left;width: 690px;}
.m-name .txt h3{font-size: 24px;color: #515a63;font-weight: normal;margin-bottom: 15px;}
.m-name .txt .det{line-height: 25px;height: 50px;overflow: hidden;position: relative;}
.m-name .txt .more{text-decoration: underline;color: #999;display: inline-block;
	background-color: #fff;position: absolute;right: 0;bottom: 0;padding-left: 3em;
}
.m-name .txt .more:hover{color: #3391ea;}
.m-name .info{float: right;width: 180px;text-align: center;}
.m-name .info b{color: #515a63;font-size: 36px;font-weight: normal;font-family: 'Arial';display: block;line-height: 1;}

.tz-list1{width: 1200px;}
.tz-list1 li{float: left;width: 280px;padding-bottom: 20px;
	border-bottom: 1px solid #e5e5e5;margin-right: 20px;margin-bottom: 20px;
}
.tz-list1 .pic{height: 210px;background-color: #f2f2f2;margin-bottom: 15px;}
.tz-list1 .pic img{display: block;width: 100%;height: 100%;}
.tz-list1 .txt{color: #7f7f7f;}
.tz-list1 h4{font-size: 16px;font-weight: normal;margin-bottom: 15px;overflow: hidden;
	white-space: nowrap;word-wrap: normal;text-overflow: ellipsis;
}
.tz-list1 h4 a{color: #333;}

/*ºóÌ¨²¿·Ö*/

.new_form{width:600px;margin-top:100px;margin-left:100px;padding:0 30px;}
.lab{margin-top:10px;font-size:15px;color:gray;}
.new_form .inp{display:block;width:300px; border:1px solid #d9d9d9;height:30px;margin-left:80px;line-height:30px;}
.new_form .sub{margin-left:170px; margin-top:20px;width:100px;height:30px;}

.bor{border:double 2px #d9d9d9; margin-left:50px;width:100%;height:30px;line-height:30px;color:#545454;font-size:15px;}
.bor a{font-size:15px;}

.del{margin-left:80px;margin-top:-31px;}

.bor1{border:double 2px #d9d9d9; width:100%;margin-top:50px;color:#545454;font-size:15px;}
.topp{margin-left:50px;margin-top:50px;color:#008CEE;font-weight:bold;}

.size{color:gray;font-size:12px;}

.update{margin-top:-28px;margin-left:120px;}

.camera{margin-top:-31px;margin-left:210px;}

.uid{margin-left:130px;margin-top:-30px;}
.uid span{font-size:14px;}

.innp{margin-left:75px;}

/*个人中心*/
.color{color:#7C8585;margin-left:120px;margin-top:50px;}
.hr{width:250px;color:#7C8585;margin-top:-5px;margin-left:120px;border:dotted 1px;}
.picc img{width:100px;height:100px;border:dotted 2px color:#7C8585;margin-top:10px;margin-left:120px;}
.hr1{width:250px;border:dotted 1px #7C8585;margin-left:120px;margin-top:20px;}
.person{width:300px;margin-left:80px;}
.person ol{list-style-type:none;font-size:14px;}
.person ol li span{font-weight:bold;}
.account{width:500px;margin-left:550px;margin-top:-400px;}
.account ol{list-style-type:none;font-size:13px;}
.account ol li span{font-weight:bold;}
.personn{ margin-top:50px;margin-left:50px;}


/*******************************
	-------[=mg-end]-------
********************************/